* {
    margin: 0;
    padding: 0;
}

:root {
    /*Color properties*/
    --backgroundColor: #f8f7f6;
    --darkerColor: #edebe8;
    --primaryColor: #d35548;
    --hoverBtn: #8b2b21;
    --clickBtn: #d35548;

    --columns: 1fr;
    --layout: 'header' 'main';
    --space-between-content: 0;
}

@media (min-width: 500px) {
    .main > .setupTimer-btn {
        /* sizing */
        max-width: 50vw;
        width: 100%;
        font-size: 5vw;
        padding: 1%;
    }
}

@media(min-width: 1200px) {
    .main > .setupTimer-btn {
        /* sizing */
        max-width: 50vw;
        width: 20%;

        font-size: 2vw;
        padding: 1%;
    }
}

main {
    background: var(--backgroundColor);

    /* positon */
    max-width: 100%;
    margin: 0 auto;

    /* Grid */
    grid-template-areas: var(--layout);
    grid-template-columns: var(--columns);
    gap: var(--space-between-content);
}

/* Header styling */
.logo {

    /* Text */
    font-family: Arial, Helvetica, sans-serif;
    color: var(--backgroundColor);
    font-size: 2.5rem;
    font-weight: bold;

    /*background*/
    background-color: var(--primaryColor);

    /* Grid and positioning */
    display: grid;
    grid-area: header;
    place-items: center;
    
}

main>.main {
    grid-area: main;

    height: 100vh;
}


/* Buttons styling */
.setupTimer-btn {

    /* Positioning */
    margin: 2% auto 0 auto;

    /* sizing */
    max-width: 70vw;
    width: 50%;


    /* styling */
    background-color: var(--primaryColor);
    color: var(--backgroundColor);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 5vw;
    padding: 1%;
    border: none;
    border-radius: 10px;

    /* Grid */
    display: grid;

}

.setupTimer-btn:hover{
    background-color: var(--hoverBtn);
}

.setupTimer-btn:focus{
    background-color: var(--clickBtn);
}

.setupTimer-btn.hidden{
    display: none;
}


/* Form styling */
.formSection {

    /*Positioning */
    margin: 2% auto 0 auto;

    /*sizing */
    max-width: 440px;
    width: 100%;
    padding: 0.5rem;


    /* styling */
    background-color: var(--primaryColor);

    /* Grid */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form-group{
    display: flex;
    flex-direction: column;
}

.formSection.inactive {
    display: none;
}

.formSection.active{
    display:block;
}

.hidden{
    display:none;
}


.blue{
    background: blue;
}

.center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0%{
        box-shadow: 0 0 0 0px rgba(9, 7, 143, 0.781);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(42, 214, 8, 0);
    }
}

/* All css above needs redoing */

