.form{
    display:block;
}

.formSection{
    display:none;
}

.formSection.active{
    display:block;
}

.hidden{
    display:none;
}

.nextStepBtns{
    display: inline-block;
}

.prevStepBtns{
    display:inline-block;
}