
.formSteps{
    display:none;
}

.formSteps.active{
    display:block;
}

.submitBtn{
    display:none; 
}
.cancelBtn{
    display:none;
}

.submitBtn.active{
    display:inline;
}

.cancelBtn.active{
    display:inline;
}

.previousBtn.active{
    display:inline;
}

.nextBtn.active{
    display:inline;
}

.wrapper{
    display: block;
}

li{
    list-style-type: none;
}