<<<<<<< Updated upstream
.hidden{
    display: none;
=======

.previous-step{
    display:none;
}

.previous-step.active{
    display:block;
}

.previousBtn.hidden{
    display:none;
}

.formSteps{
    display:none;
}

.formSteps.active{
    display:block;
}

.submitBtn{
    display:none; 
}
.cancelBtn{
    display:none;
}

.submitBtn.active{
    display:inline;
}

.cancelBtn.active{
    display:inline;
}

.previousBtn.active{
    display:inline;
}

.nextBtn.active{
    display:inline;
>>>>>>> Stashed changes
}

.wrapper{
    display: block;
}

