:host {
    /*focal point color properties */
    --workoutColor: #26874e;
    --restColor: #9b111e;

    /*Button color properties */
    --buttonColor: #fe6d6d;
    --hoverColor: #fe8989;
    --focusColor: #fe5b5b;
}
