:host #workoutCountdown{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 15px;
    display: block;
    font-style: normal;
    text-align: center;
}


:host #exerciseCountdown{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 30px;
    display: block;
    font-style: normal;
    text-align: center;
}

.startBtn{
    border: none;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: #3C7616;
    display: inline-block;
    margin-left: 5px;
}

.startBtn:focus{
    background-color:#54B513;
}

.pauseBtn{
    border: none;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: #891616;
    display: inline-block;
    margin-left: 0px;
}

.pauseBtn:focus{
    background-color:#FF0D0D;
}


.resetBtn{
    border: none;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: #0909ab;
    display: inline-block;
    margin-left: 5px;
}

.resetBtn:focus{
    background-color:#1010e3;
}

